<div class="row">
	<div class="col-lg-3">
		<br>
		<img class="img-fluid" src="<%= image_url('logo_without_bg.png') %>" alt="Responsive image">
	</div>
      
	<div class="col-lg-9">
		<div>
			<h1 class="my-4">
				Контактная информация
			</h1>
			<h4>Мы находимся по адресу:</h4>
			<p>
				<img class="img-fluid" src="<%= image_url('location.png') %>" alt="Responsive image">
				г.Тюмень, ул.Широтная 83 к1/1 (Остановка общественного транспорта: мкр. Тюменский)
			</p>
			<p>
				<img src="<%= image_url('shema_proezda.png') %>" class="rounded" height="100%" width="100%" >
			</p>
			<h4>Телефон для справок:</h4>
			<p>
				<img class="img-fluid" src="<%= image_url('phone.png') %>" alt="Responsive image">
				+7-(961)-780-14-63
			</p>
			<h4>Электронная почта:</h4>
			<p>
				<img class="img-fluid" src="<%= image_url('email.png') %>" alt="Responsive image">
				raduga-mag72@yandex.ru
			</p>
			<br>
			<br>
		</div>
	</div>
</div>