<div class="row">
	<div class="col-lg-3">
		<br>
		<img class="img-fluid" src="<%= image_url('logo_without_bg.png') %>" alt="Responsive image">
	</div>
      
	<div class="col-lg-9">
		<div>
			<h1 class="my-4">Корзина</h1>
		</div>
		<% if @items.length == 0 %>
			<div>
				<p>Сейчас ваша корзина пуста.</p>
				<%= link_to 'Вернуться к списку товаров', root_path, class: 'btn btn-outline-info' %>
			</div>
			<br/>
			<br/>
		<% else %>
			<div id="cart">
				<div>
					<table class="table"> 
						<thead class="thead-light"> 
							<tr>
							    <th>Товар</th>
							    <th>Количество</th> 
							    <th>Стоимость</th> 
							</tr> 
						</thead> 
					    <tbody> 
					      	<% total_price = 0 %>
						    <% total_qty = 0 %>	
						    <% @items.each do |item| %>
							  	<tr class="table-light"> 
							    	<td><%= item[0].title %></td>  
								  	<td><%= item[1] %></td>
								  	<td><%= item[0].price %> руб.</td> 
							  	</tr>
							    <% total_price += item[0].price * item[1].to_i %>
						      	<% total_qty += item[1].to_i %> 
						    <% end %>
				        	<tr class="table-light">
							    <td>Итого:</td>
							    <td><%= total_qty %></td>
							    <td><%= total_price %> руб.</td>
							</tr>
				      	</tbody>
				    </table>
				</div>
				<div>
					<%= link_to 'Вернуться к списку товаров', root_path, class: 'btn btn-outline-info' %>
					<button class="btn btn-outline-danger" onclick="return cancel_order();">Очистить корзину</button>
				</div>

				<div>
					<h1 class="my-4">Оформление заказа</h1>
				</div>
				
				<div>
        			<% if @errors && @errors.length > 0 then %>
        				<% @errors.each do |error| %>
        					<div class="alert alert-danger"><%= error %></div>
        				<% end %>
        			<% end %>

        			<%= form_with model: @order = Order.new do |form| %>

						<%= form.hidden_field :status_id, value: 1 %>
						<div class="form-group">
							Введите ФИО:<br/>
							<%= form.text_field :name, class: 'form-control', placeholder: 'Ваше ФИО' %>
						</div>
						<div class="form-group">
							Введите номер телефона:<br/>
							<%= form.text_field :phone, class: 'form-control', placeholder: 'Ваш номер телефона' %>
						</div>
						<div class="form-group">
							Введите адрес электронной почты:<br/>
							<%= form.text_field :email, class: 'form-control', placeholder: 'user@example.com' %>
						</div>
						<div class="form-group">
							Введите адрес:<br/>
							<%= form.text_field :address, class: 'form-control', placeholder: 'Ваш адрес (город, улица и т.д.)' %>
						</div>
						<div class="form-group">
							Комментарий:<br/>
							<%= form.text_area :comment, class: 'form-control', placeholder: 'Ваш комментарий к заказу' %>
						</div>
						<%= form.submit 'Оформить заказ', class: 'btn btn-outline-success' %>
					<% end %>

        		</div>
			</div>
			<br/>
			<br/>
		<% end %>	
	</div>
</div>
